---
layout: default
permalink: /
thumb_force_logo: true
--- 
{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

  

    <h1>👨‍💻<br>
      Hey, I'm Ruizhe Wang.

    </h1>

    <h2 class="sub-title">You can ping me on [Twitter](https://twitter.com/Shadowport_) or send correspondence to [hi@ruizhe.wang](mailto:hi@ruizhe.wang).</h2>

    <div class="chat"></div>
  </header>

  <div class="page-content">

  



    <h2>Works</h2>
    {% for post in site.tags.getting-started %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Community</h2>
    {% for post in site.tags.customization %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Photography</h2>
    <section class="list">
        <h1><a href="https://hellocars.surge.sh">Project Hello Cars</a></h1>
    </section>
  </div>
</article>
