---
layout: default
permalink: /
thumb_force_logo: true
--- 
{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
  

    <h1 class="image-title">
      Almace Scaffolding
      <img src="{{ amsf_user_assets }}/svg/amsf.svg">
    </h1>

    <h2 class="sub-title">00FFFF studio is a Toronto based multi-disciplinary design agency. </h2>

    <small>a.k.a. <b>Cyan, Aqua, Electric cyan, Waterspout, rgb(0,255,255) and hsl(180,100%,50%)</b></small>
    <div class="chat"></div>
  </header>

  <div class="page-content">
    <h2>Works</h2>
    {% for post in site.tags.getting-started %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Community</h2>
    {% for post in site.tags.customization %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>
</article>
